student{
display:block;
margin-top:10px;
color:orange;
background:yellow;
}
students,head{
background:lightblue;
display:block;
}

USN,NAME,YEAR,BRANCH,EMAIL,COLLEGE{
display:block;
margin-left:20px;
font-size:14pt;
}

USN{
color:RED;
}

NAME{
color:PINK;
}

YEAR{
color:DARKGREEN;
}

BRANCH{
color:NAVY;
}

EMAIL{
color:MAROON;
}
